[submodule "RSpec.tmbundle"]
	path = RSpec.tmbundle
	url = git://github.com/dchelimsky/rspec-tmbundle.git
[submodule "Cucumber.tmbundle"]
	path = Cucumber.tmbundle
	url = git://github.com/bmabey/cucumber-tmbundle.git
[submodule "Git.tmbundle"]
	path = Git.tmbundle
	url = git://github.com/timcharper/git-tmbundle.git
